/* Import Google font - Poppins : 구글폰트 팝핀 추가*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
/* 이미지 갤러리 스타일링 */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 이미지들을 컬럼으로 분리 */
.gallery .images {
  gap: 15px;
  max-width: 85%;
  margin: 40px 0;
  columns: 3 310px;
  /* 이미지들을 3줄로 각 310픽셀 */
  list-style: none;
}
/* 이미지 사이 간격(마진) */
.gallery .images .img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
/* 마우스 올렸을 때 살짝 커지게 */
.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}

.gallery .images .img:hover img {
  transform: scale(1.1);
}
